
#container{
    display: block;
    width: 30%;;
    margin: 0 auto;
    margin-top: 10%;
    border: 1px solid black;
    padding:1%;
    border-radius:15%;
    box-shadow: 10px 10px 10px #000;
    color:#fff;    
   background: linear-gradient(to right, rgba(0,41,54,1) 0%, rgba(8,6,66,1) 32%, rgba(8,6,66,1) 75%, rgba(0,38,51,1) 100%);
}
label{
    margin-top: 1%;
    display: block;
}


h2{
    
    text-align: center;
}

#Botão{
    
    text-align: center;
}
#Nome:hover{
    
    padding: 5% 0;
     -webkit-transition: 10s; /* Safari */
  transition: 10s;
}